!**/packages/build/
$tf/
**/[Cc]ompiler/[Rr]esources/**/*.js
**/packages/*
**/wwwroot/lib/
*.*sdf
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.cache
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dll
*.docstates
*.dotCover
*.DotSettings.user
*.gpState
*.ilk
*.ipch
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.ncrunchsolution
*.nupkg
*.obj
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.rdl.data
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.ide
*.sln.ide/
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_i.h
*_p.c
*~
*DS_Store
*DTAR/
*k10.csproj
*net45.csproj
*net451.csproj
.*crunch*.local.xml
.build/
.builds
.idea
.JustCode
.ntvs_analysis.dat
.nuget/
.sass-cache/
.settings
.testPublish/
.vs/
.vscode/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_ReSharper*/
_ReSharper.*
_ReSharper.*/
_TeamCity*
_UpgradeReport_Files/
~$*
AppPackages/
artifacts/
AutoTest.Net/
Backup*/
bld/
bower_components/
build/
ClientBin/
csx/
debugSettings.json
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
FakesAssemblies/
Generated_Code/
ipch/
node_modules
node_modules/
nuget.exe
packages/
project.lock.json
publish/
PublishProfiles/
TestResult.xml
TestResults/
tools/
tools/Cake/
tools/packages.config.md5sum
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
/Logs/internal-nlog.txt
