<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logs\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="allfile" fileName="${basedir}\nlog-all.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    
    <target xsi:type="Null" name="blackhole" />

    <target name="database" xsi:type="Database" connectionString="${var:ConnectionStrings}" >
      <!--<dbProvider>Npgsql.NpgsqlConnection, Npgsql</dbProvider>-->
      <!--<connectionString>Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=logdb;</connectionString>-->
      
      <commandText>
        insert into Logs (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception, KBN
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception, @kbn
        );
      </commandText>

      <parameter name="@application" layout="NetCoreEntityFramework" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | ${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@kbn" layout="${mdlc:item=kbn}" />
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="*" minlevel="Trace" writeTo="database" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>